In [1]:
import fastf1
from fastf1.livetiming.data import LiveTimingData
import pandas as pd
import numpy as np

In [2]:
fastf1.Cache.enable_cache(r'C:\Users\benja\OneDrive - De Vinci\S7_ESILV\cach_directory')

In [3]:
session_letter = ['FP1', 'FP2', 'FP3', 'Q', 'R']
sessions = []
for year in range(2018,2022):
    for gp in range(1,22):
        for l in session_letter:
            try:
                session = fastf1.get_session(year, gp, l)
                sessions.append(session)
            except:
                print("problem on",year, gp, l)

core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range

problem on 2020 18 FP1
problem on 2020 18 FP2
problem on 2020 18 FP3
problem on 2020 18 Q
problem on 2020 18 R
problem on 2020 19 FP1
problem on 2020 19 FP2
problem on 2020 19 FP3
problem on 2020 19 Q
problem on 2020 19 R
problem on 2020 20 FP1
problem on 2020 20 FP2
problem on 2020 20 FP3
problem on 2020 20 Q
problem on 2020 20 R
problem on 2020 21 FP1
problem on 2020 21 FP2
problem on 2020 21 FP3
problem on 2020 21 Q
problem on 2020 21 R
problem on 2021 10 FP3
problem on 2021 14 FP3

core        WARNING 	Ergast API lookup failed. The session is very recent and not yet available or does not exist.

problem on 2021 19 FP3

core        WARNING 	Ergast API lookup failed. The session is very recent and not yet available or does not exist.
core        WARNING 	Ergast API lookup failed. The session is very recent and not yet available or does not exist.
core        WARNING 	Ergast API lookup failed. The session is very recent and not yet available or does not exist.

In [4]:
pd.DataFrame(sessions[1].results).head()

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,5,1,1,25,"{'driverId': 'vettel', 'permanentNumber': '5',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,58,Finished,"{'millis': '5373283', 'time': '1:29:33.283'}","{'rank': '4', 'lap': '53', 'Time': {'time': '1..."
1,44,2,2,18,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",1,58,Finished,"{'millis': '5378319', 'time': '+5.036'}","{'rank': '3', 'lap': '50', 'Time': {'time': '1..."
2,7,3,3,15,"{'driverId': 'raikkonen', 'permanentNumber': '...","{'constructorId': 'ferrari', 'url': 'http://en...",2,58,Finished,"{'millis': '5379592', 'time': '+6.309'}","{'rank': '2', 'lap': '57', 'Time': {'time': '1..."
3,3,4,4,12,"{'driverId': 'ricciardo', 'permanentNumber': '...","{'constructorId': 'red_bull', 'url': 'http://e...",8,58,Finished,"{'millis': '5380352', 'time': '+7.069'}","{'rank': '1', 'lap': '54', 'Time': {'time': '1..."
4,14,5,5,10,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'mclaren', 'url': 'http://en...",10,58,Finished,"{'millis': '5401169', 'time': '+27.886'}","{'rank': '7', 'lap': '57', 'Time': {'time': '1..."

In [5]:
l=[]
year = []
gp = []
label_session = []

for elmt in sessions:
    for res in elmt.results:
        l.append(res)
        year.append(elmt.weekend.year)
        gp.append(elmt.weekend.name)
        label_session.append(elmt.name)

In [6]:
Data = pd.DataFrame(l)
Data['year'] = year 
Data['gpName'] = gp
Data['sessionName'] = label_session
Data.head()

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap,Q1,Q2,Q3,year,gpName,sessionName
0,5,1,1,25,"{'driverId': 'vettel', 'permanentNumber': '5',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,58,Finished,"{'millis': '5373283', 'time': '1:29:33.283'}","{'rank': '4', 'lap': '53', 'Time': {'time': '1...",NaN,NaN,NaN,2018,Australian Grand Prix,Practice 1
1,44,2,2,18,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",1,58,Finished,"{'millis': '5378319', 'time': '+5.036'}","{'rank': '3', 'lap': '50', 'Time': {'time': '1...",NaN,NaN,NaN,2018,Australian Grand Prix,Practice 1
2,7,3,3,15,"{'driverId': 'raikkonen', 'permanentNumber': '...","{'constructorId': 'ferrari', 'url': 'http://en...",2,58,Finished,"{'millis': '5379592', 'time': '+6.309'}","{'rank': '2', 'lap': '57', 'Time': {'time': '1...",NaN,NaN,NaN,2018,Australian Grand Prix,Practice 1
3,3,4,4,12,"{'driverId': 'ricciardo', 'permanentNumber': '...","{'constructorId': 'red_bull', 'url': 'http://e...",8,58,Finished,"{'millis': '5380352', 'time': '+7.069'}","{'rank': '1', 'lap': '54', 'Time': {'time': '1...",NaN,NaN,NaN,2018,Australian Grand Prix,Practice 1
4,14,5,5,10,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'mclaren', 'url': 'http://en...",10,58,Finished,"{'millis': '5401169', 'time': '+27.886'}","{'rank': '7', 'lap': '57', 'Time': {'time': '1...",NaN,NaN,NaN,2018,Australian Grand Prix,Practice 1

## Driver DATA

In [7]:
Data_driver = Data['Driver'].apply(pd.Series)
Data_driver.head()

,driverId,permanentNumber,code,url,givenName,familyName,dateOfBirth,nationality
0,vettel,5,VET,http://en.wikipedia.org/wiki/Sebastian_Vettel,Sebastian,Vettel,1987-07-03,German
1,hamilton,44,HAM,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis,Hamilton,1985-01-07,British
2,raikkonen,7,RAI,http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C...,Kimi,Räikkönen,1979-10-17,Finnish
3,ricciardo,3,RIC,http://en.wikipedia.org/wiki/Daniel_Ricciardo,Daniel,Ricciardo,1989-07-01,Australian
4,alonso,14,ALO,http://en.wikipedia.org/wiki/Fernando_Alonso,Fernando,Alonso,1981-07-29,Spanish

In [8]:
Data_driver_drop = Data_driver.drop(['url','givenName','familyName','dateOfBirth','permanentNumber'],axis=1)

In [9]:
Data_driver_drop =Data_driver_drop.rename(columns={"nationality": "DriverNationality"})

In [10]:
Data_driver_drop.head()

    driverId code DriverNationality
0     vettel  VET            German
1   hamilton  HAM           British
2  raikkonen  RAI           Finnish
3  ricciardo  RIC        Australian
4     alonso  ALO           Spanish

## Constructor DATA

In [11]:
Data_constructor = Data['Constructor'].apply(pd.Series)
Data_constructor.head()

,constructorId,url,name,nationality
0,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian
1,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German
2,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian
3,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian
4,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British

In [12]:
Data_constructor_drop = Data_constructor.drop(['url','name'],axis=1)

In [13]:
Data_constructor_drop = Data_constructor_drop.rename(columns={"nationality": "constructorNationality"})

In [14]:
Data_constructor_drop.head()

  constructorId constructorNationality
0       ferrari                Italian
1      mercedes                 German
2       ferrari                Italian
3      red_bull               Austrian
4       mclaren                British

## Fastest Lap DATA

In [15]:
Data_fast = Data['FastestLap'].apply(pd.Series)
Data_fast.head()

    0                          AverageSpeed                  Time lap rank
0 NaN  {'units': 'kph', 'speed': '220.782'}  {'time': '1:26.469'}  53    4
1 NaN  {'units': 'kph', 'speed': '220.845'}  {'time': '1:26.444'}  50    3
2 NaN  {'units': 'kph', 'speed': '221.027'}  {'time': '1:26.373'}  57    2
3 NaN  {'units': 'kph', 'speed': '222.128'}  {'time': '1:25.945'}  54    1
4 NaN  {'units': 'kph', 'speed': '219.489'}  {'time': '1:26.978'}  57    7

In [16]:
Data_fast = pd.concat([Data_fast.drop(['AverageSpeed'], axis=1), Data_fast['AverageSpeed'].apply(pd.Series)], axis=1)
Data_fast = pd.concat([Data_fast.drop(['Time'], axis=1), Data_fast['Time'].apply(pd.Series)], axis=1)

In [17]:
Data_fast.columns

Index([0, 'lap', 'rank', 0, 'speed', 'units', 0, 'time'], dtype='object')

In [18]:
Data_fast_drop = Data_fast.drop([0,'units'],axis=1)

In [19]:
Data_fast_drop = Data_fast_drop.rename(columns={"lap": "fastestLapNumber","rank":"fastestLapRank","speed":"fastestLapAvgSpeed","time":"fastestLapTime"})

In [20]:
Data_fast_drop.head()

  fastestLapNumber fastestLapRank fastestLapAvgSpeed fastestLapTime
0               53              4            220.782       1:26.469
1               50              3            220.845       1:26.444
2               57              2            221.027       1:26.373
3               54              1            222.128       1:25.945
4               57              7            219.489       1:26.978

## Time DATA

In [21]:
Data_time = Data['Time'].apply(pd.Series)
Data_time.head()

    0   millis         time
0 NaN  5373283  1:29:33.283
1 NaN  5378319       +5.036
2 NaN  5379592       +6.309
3 NaN  5380352       +7.069
4 NaN  5401169      +27.886

In [22]:
Data_time_drop = Data_time.drop([0],axis=1)

In [23]:
Data_time_drop = Data_time_drop.rename(columns={"millis": "totalTime","time":"TimeInterval"})

In [24]:
Data_time_drop.head()

  totalTime TimeInterval
0   5373283  1:29:33.283
1   5378319       +5.036
2   5379592       +6.309
3   5380352       +7.069
4   5401169      +27.886

## Data Concatenation

In [25]:
df_global = pd.concat([Data.drop(['Driver'], axis=1), Data_driver_drop], axis=1)
df_global = pd.concat([df_global.drop(['Constructor'], axis=1), Data_constructor_drop], axis=1)
df_global = pd.concat([df_global.drop(['FastestLap'], axis=1), Data_fast_drop], axis=1)
df_global = pd.concat([df_global.drop(['Time'], axis=1), Data_time_drop], axis=1)

In [26]:
df_global.columns

Index(['number', 'position', 'positionText', 'points', 'grid', 'laps',
       'status', 'Q1', 'Q2', 'Q3', 'year', 'gpName', 'sessionName', 'driverId',
       'code', 'DriverNationality', 'constructorId', 'constructorNationality',
       'fastestLapNumber', 'fastestLapRank', 'fastestLapAvgSpeed',
       'fastestLapTime', 'totalTime', 'TimeInterval'],
      dtype='object')

In [27]:
df_global.head()

,number,position,positionText,points,grid,laps,status,Q1,Q2,Q3,...,code,DriverNationality,constructorId,constructorNationality,fastestLapNumber,fastestLapRank,fastestLapAvgSpeed,fastestLapTime,totalTime,TimeInterval
0,5,1,1,25,3,58,Finished,NaN,NaN,NaN,...,VET,German,ferrari,Italian,53,4,220.782,1:26.469,5373283,1:29:33.283
1,44,2,2,18,1,58,Finished,NaN,NaN,NaN,...,HAM,British,mercedes,German,50,3,220.845,1:26.444,5378319,+5.036
2,7,3,3,15,2,58,Finished,NaN,NaN,NaN,...,RAI,Finnish,ferrari,Italian,57,2,221.027,1:26.373,5379592,+6.309
3,3,4,4,12,8,58,Finished,NaN,NaN,NaN,...,RIC,Australian,red_bull,Austrian,54,1,222.128,1:25.945,5380352,+7.069
4,14,5,5,10,10,58,Finished,NaN,NaN,NaN,...,ALO,Spanish,mclaren,British,57,7,219.489,1:26.978,5401169,+27.886

In [28]:
df_global.shape

(7937, 24)

In [29]:
sessions[1].name

'Practice 2'

In [30]:
len(year)

7937

In [31]:
len(gp)

7937

In [41]:
df_global[df_global['sessionName']== 'Practice 1'].head(50)

,number,position,positionText,points,grid,laps,status,Q1,Q2,Q3,...,code,DriverNationality,constructorId,constructorNationality,fastestLapNumber,fastestLapRank,fastestLapAvgSpeed,fastestLapTime,totalTime,TimeInterval
0,5,1,1,25,3,58,Finished,NaN,NaN,NaN,...,VET,German,ferrari,Italian,53,4,220.782,1:26.469,5373283,1:29:33.283
1,44,2,2,18,1,58,Finished,NaN,NaN,NaN,...,HAM,British,mercedes,German,50,3,220.845,1:26.444,5378319,+5.036
2,7,3,3,15,2,58,Finished,NaN,NaN,NaN,...,RAI,Finnish,ferrari,Italian,57,2,221.027,1:26.373,5379592,+6.309
3,3,4,4,12,8,58,Finished,NaN,NaN,NaN,...,RIC,Australian,red_bull,Austrian,54,1,222.128,1:25.945,5380352,+7.069
4,14,5,5,10,10,58,Finished,NaN,NaN,NaN,...,ALO,Spanish,mclaren,British,57,7,219.489,1:26.978,5401169,+27.886
5,33,6,6,8,4,58,Finished,NaN,NaN,NaN,...,VER,Dutch,red_bull,Austrian,54,5,219.737,1:26.880,5402228,+28.945
6,27,7,7,6,7,58,Finished,NaN,NaN,NaN,...,HUL,German,renault,French,57,9,219.230,1:27.081,5405954,+32.671
7,77,8,8,4,15,58,Finished,NaN,NaN,NaN,...,BOT,Finnish,mercedes,German,54,8,219.386,1:27.019,5407622,+34.339
8,2,9,9,2,11,58,Finished,NaN,NaN,NaN,...,VAN,Belgian,mclaren,British,57,6,219.540,1:26.958,5408204,+34.921
9,55,10,10,1,9,58,Finished,NaN,NaN,NaN,...,SAI,Spanish,renault,French,51,12,217.079,1:27.944,5419005,+45.722
10,11,11,11,0,12,58,Finished,NaN,NaN,NaN,...,PER,Mexican,force_india,Indian,51,11,217.849,1:27.633,5420100,+46.817
11,31,12,12,0,14,58,Finished,NaN,NaN,NaN,...,OCO,French,force_india,Indian,57,10,217.931,1:27.600,5433561,+1:00.278
12,16,13,13,0,18,58,Finished,NaN,NaN,NaN,...,LEC,Monegasque,sauber,Swiss,56,15,215.085,1:28.759,5449042,+1:15.759
13,18,14,14,0,13,58,Finished,NaN,NaN,NaN,...,STR,Canadian,williams,British,55,14,215.688,1:28.511,5451571,+1:18.288
14,28,15,15,0,16,57,+1 Lap,NaN,NaN,NaN,...,HAR,New Zealander,toro_rosso,Italian,57,13,216.507,1:28.176,NaN,NaN
15,8,16,R,0,6,24,Wheel,NaN,NaN,NaN,...,GRO,French,haas,American,23,16,214.974,1:28.805,NaN,NaN
16,20,17,R,0,5,22,Wheel,NaN,NaN,NaN,...,MAG,Danish,haas,American,21,17,213.224,1:29.534,NaN,NaN
17,10,18,R,0,20,13,Engine,NaN,NaN,NaN,...,GAS,French,toro_rosso,Italian,13,18,210.601,1:30.649,NaN,NaN
18,9,19,R,0,17,5,Steering,NaN,NaN,NaN,...,ERI,Swedish,sauber,Swiss,4,19,207.036,1:32.210,NaN,NaN
19,35,20,R,0,19,4,Brakes,NaN,NaN,NaN,...,SIR,Russian,williams,British,3,20,206.224,1:32.573,NaN,NaN
100,5,1,1,25,1,57,Finished,NaN,NaN,NaN,...,VET,German,ferrari,Italian,21,7,206.274,1:34.453,5521940,1:32:01.940
101,77,2,2,18,3,57,Finished,NaN,NaN,NaN,...,BOT,Finnish,mercedes,German,22,1,207.842,1:33.740,5522639,+0.699
102,44,3,3,15,9,57,Finished,NaN,NaN,NaN,...,HAM,British,mercedes,German,51,2,207.371,1:33.953,5528452,+6.512
103,10,4,4,12,5,57,Finished,NaN,NaN,NaN,...,GAS,French,toro_rosso,Italian,46,11,205.382,1:34.863,5584174,+1:02.234
104,20,5,5,10,6,57,Finished,NaN,NaN,NaN,...,MAG,Danish,haas,American,29,5,206.549,1:34.327,5596986,+1:15.046
105,27,6,6,8,7,57,Finished,NaN,NaN,NaN,...,HUL,German,renault,French,50,9,205.807,1:34.667,5620964,+1:39.024
106,14,7,7,6,13,56,+1 Lap,NaN,NaN,NaN,...,ALO,Spanish,mclaren,British,47,4,206.898,1:34.168,NaN,NaN
107,2,8,8,4,14,56,+1 Lap,NaN,NaN,NaN,...,VAN,Belgian,mclaren,British,30,16,204.803,1:35.131,NaN,NaN
108,9,9,9,2,17,56,+1 Lap,NaN,NaN,NaN,...,ERI,Swedish,sauber,Swiss,26,15,204.885,1:35.093,NaN,NaN
109,31,10,10,1,8,56,+1 Lap,NaN,NaN,NaN,...,OCO,French,force_india,Indian,38,12,204.993,1:35.043,NaN,NaN
110,55,11,11,0,10,56,+1 Lap,NaN,NaN,NaN,...,SAI,Spanish,renault,French,35,18,203.937,1:35.535,NaN,NaN
111,16,12,12,0,19,56,+1 Lap,NaN,NaN,NaN,...,LEC,Monegasque,sauber,Swiss,35,14,204.924,1:35.075,NaN,NaN
112,8,13,13,0,16,56,+1 Lap,NaN,NaN,NaN,...,GRO,French,haas,American,44,10,205.759,1:34.689,NaN,NaN
113,18,14,14,0,20,56,+1 Lap,NaN,NaN,NaN,...,STR,Canadian,williams,British,40,13,204.961,1:35.058,NaN,NaN
114,35,15,15,0,18,56,+1 Lap,NaN,NaN,NaN,...,SIR,Russian,williams,British,47,3,207.151,1:34.053,NaN,NaN
115,11,16,16,0,12,56,+1 Lap,NaN,NaN,NaN,...,PER,Mexican,force_india,Indian,32,17,204.513,1:35.266,NaN,NaN
116,28,17,17,0,11,56,+1 Lap,NaN,NaN,NaN,...,HAR,New Zealander,toro_rosso,Italian,42,8,206.034,1:34.563,NaN,NaN
117,7,18,R,0,2,35,Wheel,NaN,NaN,NaN,...,RAI,Finnish,ferrari,Italian,22,6,206.527,1:34.337,NaN,NaN
118,33,19,R,0,15,3,Puncture,NaN,NaN,NaN,...,VER,Dutch,red_bull,Austrian,NaN,NaN,NaN,NaN,NaN,NaN
119,3,20,R,0,4,1,Electrical,NaN,NaN,NaN,...,RIC,Australian,red_bull,Austrian,NaN,NaN,NaN,NaN,NaN,NaN
200,3,1,1,25,6,56,Finished,NaN,NaN,NaN,...,RIC,Australian,red_bull,Austrian,55,1,204.871,1:35.785,5736380,1:35:36.380
201,77,2,2,18,3,56,Finished,NaN,NaN,NaN,...,BOT,Finnish,mercedes,German,50,6,202.332,1:36.987,5745274,+8.894
202,7,3,3,15,2,56,Finished,NaN,NaN,NaN,...,RAI,Finnish,ferrari,Italian,48,3,203.446,1:36.456,5746017,+9.637
203,44,4,4,12,4,56,Finished,NaN,NaN,NaN,...,HAM,British,mercedes,German,20,4,202.559,1:36.878,5753365,+16.985
204,33,5,5,10,5,56,Finished,NaN,NaN,NaN,...,VER,Dutch,red_bull,Austrian,50,2,203.974,1:36.206,5756816,+20.436
205,27,6,6,8,7,56,Finished,NaN,NaN,NaN,...,HUL,German,renault,French,56,5,202.553,1:36.881,5757432,+21.052
206,14,7,7,6,13,56,Finished,NaN,NaN,NaN,...,ALO,Spanish,mclaren,British,56,7,201.818,1:37.234,5767019,+30.639
207,5,8,8,4,1,56,Finished,NaN,NaN,NaN,...,VET,German,ferrari,Italian,24,9,201.311,1:37.479,5771666,+35.286
208,55,9,9,2,9,56,Finished,NaN,NaN,NaN,...,SAI,Spanish,renault,French,54,11,200.744,1:37.754,5772143,+35.763
209,20,10,10,1,11,56,Finished,NaN,NaN,NaN,...,MAG,Danish,haas,American,54,14,199.930,1:38.152,5775974,+39.594