In [6]:
import fastf1
from fastf1.livetiming.data import LiveTimingData
import pandas as pd
import numpy as np

In [7]:
fastf1.Cache.enable_cache("C:/Users/lmbfr/OneDrive/Documents/Travail ESILV/Cours + Exercices/Semestre 7/Python Data Analysis/F1")

In [8]:
session_letter = ['Q', 'R']
sessions = []
venues = {}
for year in range(2018,2022):
    for gp in range(1,23):
        for l in session_letter:
            try:
                session = fastf1.get_session(year, gp, l)
                sessions.append(session)
                
                venueKey = (year, session.weekend.name)
                if venueKey not in venues.keys():
                    venues[venueKey] = gp
                
            except:
                print("problem on",year, gp, l)

core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range

problem on 2018 22 Q
problem on 2018 22 R

core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range

problem on 2019 22 Q
problem on 2019 22 R

core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range
core       CRITICAL 	Failed to load critical data from Ergast!

 Cannot determine the date and name of the event. Cannot proceed!

core       CRITICAL 	list index out of range

problem on 2020 18 Q
problem on 2020 18 R
problem on 2020 19 Q
problem on 2020 19 R
problem on 2020 20 Q
problem on 2020 20 R
problem on 2020 21 Q
problem on 2020 21 R
problem on 2020 22 Q
problem on 2020 22 R

In [9]:
list(venues.items())[:6]

[((2018, 'Australian Grand Prix'), 1),
 ((2018, 'Bahrain Grand Prix'), 2),
 ((2018, 'Chinese Grand Prix'), 3),
 ((2018, 'Azerbaijan Grand Prix'), 4),
 ((2018, 'Spanish Grand Prix'), 5),
 ((2018, 'Monaco Grand Prix'), 6)]

In [10]:
l=[]
year = []
gpNames = []
gpNumbers = []
label_session = []

for elmt in sessions:
    for res in elmt.results:
        l.append(res)
        year.append(elmt.weekend.year)
        gpNames.append(elmt.weekend.name)
        gpNumbers.append(venues[(elmt.weekend.year, elmt.weekend.name)])
        label_session.append(elmt.name)

In [11]:
Data = pd.DataFrame(l)
Data['year'] = year 
Data['gpName'] = gpNames
Data['gpNumber'] = gpNumbers
Data['sessionName'] = label_session
Data.head()

,number,position,Driver,Constructor,Q1,Q2,Q3,positionText,points,grid,laps,status,Time,FastestLap,year,gpName,gpNumber,sessionName
0,44,1,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",1:22.824,1:22.051,1:21.164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,Australian Grand Prix,1,Qualifying
1,7,2,"{'driverId': 'raikkonen', 'permanentNumber': '...","{'constructorId': 'ferrari', 'url': 'http://en...",1:23.096,1:22.507,1:21.828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,Australian Grand Prix,1,Qualifying
2,5,3,"{'driverId': 'vettel', 'permanentNumber': '5',...","{'constructorId': 'ferrari', 'url': 'http://en...",1:23.348,1:21.944,1:21.838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,Australian Grand Prix,1,Qualifying
3,33,4,"{'driverId': 'max_verstappen', 'permanentNumbe...","{'constructorId': 'red_bull', 'url': 'http://e...",1:23.483,1:22.416,1:21.879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,Australian Grand Prix,1,Qualifying
4,3,5,"{'driverId': 'ricciardo', 'permanentNumber': '...","{'constructorId': 'red_bull', 'url': 'http://e...",1:23.494,1:22.897,1:22.152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,Australian Grand Prix,1,Qualifying

## Driver DATA

In [12]:
Data_driver = Data['Driver'].apply(pd.Series)
Data_driver.head()

,driverId,permanentNumber,code,url,givenName,familyName,dateOfBirth,nationality
0,hamilton,44,HAM,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis,Hamilton,1985-01-07,British
1,raikkonen,7,RAI,http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C...,Kimi,Räikkönen,1979-10-17,Finnish
2,vettel,5,VET,http://en.wikipedia.org/wiki/Sebastian_Vettel,Sebastian,Vettel,1987-07-03,German
3,max_verstappen,33,VER,http://en.wikipedia.org/wiki/Max_Verstappen,Max,Verstappen,1997-09-30,Dutch
4,ricciardo,3,RIC,http://en.wikipedia.org/wiki/Daniel_Ricciardo,Daniel,Ricciardo,1989-07-01,Australian

In [13]:
Data_driver_drop = Data_driver.drop(['url','givenName','familyName','dateOfBirth','permanentNumber'],axis=1)

In [14]:
Data_driver_drop =Data_driver_drop.rename(columns={"nationality": "DriverNationality"})

In [15]:
Data_driver_drop.head()

         driverId code DriverNationality
0        hamilton  HAM           British
1       raikkonen  RAI           Finnish
2          vettel  VET            German
3  max_verstappen  VER             Dutch
4       ricciardo  RIC        Australian

## Constructor DATA

In [16]:
Data_constructor = Data['Constructor'].apply(pd.Series)
Data_constructor.head()

,constructorId,url,name,nationality
0,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German
1,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian
2,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian
3,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian
4,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian

In [17]:
Data_constructor_drop = Data_constructor.drop(['url','name'],axis=1)

In [18]:
Data_constructor_drop = Data_constructor_drop.rename(columns={"nationality": "constructorNationality"})

In [19]:
Data_constructor_drop.head()

  constructorId constructorNationality
0      mercedes                 German
1       ferrari                Italian
2       ferrari                Italian
3      red_bull               Austrian
4      red_bull               Austrian

## Fastest Lap DATA

In [20]:
Data_fast = Data['FastestLap'].apply(pd.Series)
Data_fast.head()

    0 AverageSpeed Time  lap rank
0 NaN          NaN  NaN  NaN  NaN
1 NaN          NaN  NaN  NaN  NaN
2 NaN          NaN  NaN  NaN  NaN
3 NaN          NaN  NaN  NaN  NaN
4 NaN          NaN  NaN  NaN  NaN

In [21]:
Data_fast = pd.concat([Data_fast.drop(['AverageSpeed'], axis=1), Data_fast['AverageSpeed'].apply(pd.Series)], axis=1)
Data_fast = pd.concat([Data_fast.drop(['Time'], axis=1), Data_fast['Time'].apply(pd.Series)], axis=1)

In [22]:
Data_fast.columns

Index([0, 'lap', 'rank', 0, 'speed', 'units', 0, 'time'], dtype='object')

In [23]:
Data_fast_drop = Data_fast.drop([0,'units'],axis=1)

In [24]:
Data_fast_drop = Data_fast_drop.rename(columns={"lap": "fastestLapNumber","rank":"fastestLapRank","speed":"fastestLapAvgSpeed","time":"fastestLapTime"})

In [25]:
Data_fast_drop.head()

  fastestLapNumber fastestLapRank fastestLapAvgSpeed fastestLapTime
0              NaN            NaN                NaN            NaN
1              NaN            NaN                NaN            NaN
2              NaN            NaN                NaN            NaN
3              NaN            NaN                NaN            NaN
4              NaN            NaN                NaN            NaN

## Time DATA

In [26]:
Data_time = Data['Time'].apply(pd.Series)
Data_time.head()

    0 millis time
0 NaN    NaN  NaN
1 NaN    NaN  NaN
2 NaN    NaN  NaN
3 NaN    NaN  NaN
4 NaN    NaN  NaN

In [27]:
Data_time_drop = Data_time.drop([0],axis=1)

In [28]:
Data_time_drop = Data_time_drop.rename(columns={"millis": "totalTime","time":"TimeInterval"})

In [29]:
Data_time_drop.head()

  totalTime TimeInterval
0       NaN          NaN
1       NaN          NaN
2       NaN          NaN
3       NaN          NaN
4       NaN          NaN

## Data Concatenation

In [30]:
df_global = pd.concat([Data.drop(['Driver'], axis=1), Data_driver_drop], axis=1)
df_global = pd.concat([df_global.drop(['Constructor'], axis=1), Data_constructor_drop], axis=1)
df_global = pd.concat([df_global.drop(['FastestLap'], axis=1), Data_fast_drop], axis=1)
df_global = pd.concat([df_global.drop(['Time'], axis=1), Data_time_drop], axis=1)

In [31]:
df_global.tail()

,number,position,Q1,Q2,Q3,positionText,points,grid,laps,status,...,code,DriverNationality,constructorId,constructorNationality,fastestLapNumber,fastestLapRank,fastestLapAvgSpeed,fastestLapTime,totalTime,TimeInterval
3231,11,15,NaN,NaN,NaN,15,0,4,55,Engine,...,PER,Mexican,red_bull,Austrian,51,2,219.993,1:26.419,NaN,NaN
3232,6,16,NaN,NaN,NaN,R,0,16,50,Accident,...,LAT,Canadian,williams,British,30,15,212.912,1:29.293,NaN,NaN
3233,99,17,NaN,NaN,NaN,R,0,14,33,Gearbox,...,GIO,Italian,alfa,Swiss,33,16,212.557,1:29.442,NaN,NaN
3234,63,18,NaN,NaN,NaN,R,0,17,26,Gearbox,...,RUS,British,williams,British,23,19,209.732,1:30.647,NaN,NaN
3235,7,19,NaN,NaN,NaN,R,0,18,25,Brakes,...,RAI,Finnish,alfa,Swiss,23,18,211.951,1:29.698,NaN,NaN

In [32]:
df_global.columns

Index(['number', 'position', 'Q1', 'Q2', 'Q3', 'positionText', 'points',
       'grid', 'laps', 'status', 'year', 'gpName', 'gpNumber', 'sessionName',
       'driverId', 'code', 'DriverNationality', 'constructorId',
       'constructorNationality', 'fastestLapNumber', 'fastestLapRank',
       'fastestLapAvgSpeed', 'fastestLapTime', 'totalTime', 'TimeInterval'],
      dtype='object')

In [33]:
df_global.iloc[66]

number                                    14
position                                   7
Q1                                       NaN
Q2                                       NaN
Q3                                       NaN
positionText                               7
points                                     6
grid                                      13
laps                                      56
status                                +1 Lap
year                                    2018
gpName                    Bahrain Grand Prix
gpNumber                                   2
sessionName                             Race
driverId                              alonso
code                                     ALO
DriverNationality                    Spanish
constructorId                        mclaren
constructorNationality               British
fastestLapNumber                          47
fastestLapRank                             4
fastestLapAvgSpeed                   206.898
fastestLapTime                      1:34.168
totalTime                                NaN
TimeInterval                             NaN
Name: 66, dtype: object

In [45]:
df_global.shape

(3236, 25)

In [35]:
sessions[1].name

'Race'

In [36]:
len(year)

3236

## Practices .csv import

In [37]:
practices_df = pd.read_csv("C:/Users\lmbfr\OneDrive\Documents\Travail ESILV\Cours + Exercices\Semestre 7\Python Data Analysis\F1\practices.csv")

In [38]:
practices_df.head()

,number,position,positionText,points,grid,laps,status,Q1,Q2,Q3,...,code,DriverNationality,constructorId,constructorNationality,fastestLapNumber,fastestLapRank,fastestLapAvgSpeed,fastestLapTime,totalTime,TimeInterval
0,44,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,HAM,NaN,NaN,NaN,17.0,1,NaN,0 days 00:01:24.026000,NaN,NaN
1,77,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,BOT,NaN,NaN,NaN,9.0,2,NaN,0 days 00:01:24.577000,NaN,NaN
2,33,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,VER,NaN,NaN,NaN,12.0,3,NaN,0 days 00:01:24.771000,NaN,NaN
3,7,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,RAI,NaN,NaN,NaN,17.0,4,NaN,0 days 00:01:24.875000,NaN,NaN
4,5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,VET,NaN,NaN,NaN,17.0,5,NaN,0 days 00:01:24.995000,NaN,NaN

In [39]:
practices_df.iloc[0]

number                                        44
position                                       1
positionText                                 NaN
points                                       NaN
grid                                         NaN
laps                                         NaN
status                                       NaN
Q1                                           NaN
Q2                                           NaN
Q3                                           NaN
year                                        2018
gpName                     Australian Grand Prix
gpNumber                                       1
sessionName                           Practice 1
driverId                                     NaN
code                                         HAM
DriverNationality                            NaN
constructorId                                NaN
constructorNationality                       NaN
fastestLapNumber                            17.0
fastestLapRank                                 1
fastestLapAvgSpeed                           NaN
fastestLapTime            0 days 00:01:24.026000
totalTime                                    NaN
TimeInterval                                 NaN
Name: 0, dtype: object

##### We can notice data unconsistency in practices records

In [40]:
practices_df['sessionName'].value_counts()

Practice 2    1412
Practice 3    1238
Practice 1     739
Name: sessionName, dtype: int64

In [41]:
df_global[df_global['year'] >= 2018]["sessionName"].value_counts()

utils          INFO 	NumExpr defaulting to 8 threads.

Race          1619
Qualifying    1617
Name: sessionName, dtype: int64

### Data concatenation between practices, qualifications and races

In [42]:
combinedDFS = pd.concat([df_global, practices_df])
combinedDFS.shape[0]

6625

In [43]:
combinedDFS = combinedDFS.sort_values(['year', 'gpNumber', 'sessionName'], ascending=[True, True, True])
combinedDFS = combinedDFS.reset_index()

##### We can notice in the example below that it's missing "Practice 3" session for the first GP displayed

In [138]:
combinedDFS[["sessionName", "gpNumber"]].iloc[[1, 21, 41, 61]]

   sessionName  gpNumber
1   Practice 1         1
21  Practice 2         1
41  Qualifying         1
61        Race         1

In [139]:
combinedDFS.to_csv(r'C:\Users\lmbfr\OneDrive\Documents\Travail ESILV\Cours + Exercices\Semestre 7\Python Data Analysis\F1\allData.csv', index=False)

### Grouping work to get all weekends with the 5 sessions

In [72]:
sessionsRecordsNb = combinedDFS.groupby(['year', 'gpName', 'sessionName']).size()

In [73]:
sessionsRecordsNb

year  gpName                    sessionName
2018  Abu Dhabi Grand Prix      Practice 2     20
                                Practice 3     20
                                Qualifying     20
                                Race           20
      Australian Grand Prix     Practice 1     20
                                               ..
2021  United States Grand Prix  Practice 1     20
                                Practice 2     20
                                Practice 3     20
                                Qualifying     20
                                Race           20
Length: 332, dtype: int64

In [74]:
dfSessionsRecordsNb = pd.DataFrame(sessionsRecordsNb)

In [75]:
dfSessionsRecordsNb

                                            0
year gpName                   sessionName
2018 Abu Dhabi Grand Prix     Practice 2   20
                              Practice 3   20
                              Qualifying   20
                              Race         20
     Australian Grand Prix    Practice 1   20
...                                        ..
2021 United States Grand Prix Practice 1   20
                              Practice 2   20
                              Practice 3   20
                              Qualifying   20
                              Race         20

[332 rows x 1 columns]

In [76]:
dfSessionsRecordsNb.reset_index()

     year                    gpName sessionName   0
0    2018      Abu Dhabi Grand Prix  Practice 2  20
1    2018      Abu Dhabi Grand Prix  Practice 3  20
2    2018      Abu Dhabi Grand Prix  Qualifying  20
3    2018      Abu Dhabi Grand Prix        Race  20
4    2018     Australian Grand Prix  Practice 1  20
..    ...                       ...         ...  ..
327  2021  United States Grand Prix  Practice 1  20
328  2021  United States Grand Prix  Practice 2  20
329  2021  United States Grand Prix  Practice 3  20
330  2021  United States Grand Prix  Qualifying  20
331  2021  United States Grand Prix        Race  20

[332 rows x 4 columns]

In [78]:
sessionsNumber = dfSessionsRecordsNb.groupby(['year', 'gpName']).size()

In [87]:
dfSessionsNumber = pd.DataFrame(sessionsNumber)

In [88]:
#dfSessionsNumber = dfSessionsNumber.reset_index()
dfSessionsNumber.rename(columns={ dfSessionsNumber.columns[0]: "Number of Sessions" }, inplace = True)
dfSessionsNumber

                               Number of Sessions
year gpName
2018 Abu Dhabi Grand Prix                       4
     Australian Grand Prix                      4
     Austrian Grand Prix                        4
     Azerbaijan Grand Prix                      5
     Bahrain Grand Prix                         4
...                                           ...
2021 Spanish Grand Prix                         4
     Styrian Grand Prix                         4
     São Paulo Grand Prix                       4
     Turkish Grand Prix                         4
     United States Grand Prix                   5

[81 rows x 1 columns]

In [94]:
print(dfSessionsNumber.shape[0], "weekends")

81 weekends

In [95]:
dfCompleteWeekends = dfSessionsNumber[dfSessionsNumber['Number of Sessions'] == 5]
dfCompleteWeekends

                               Number of Sessions
year gpName
2018 Azerbaijan Grand Prix                      5
     Chinese Grand Prix                         5
     Monaco Grand Prix                          5
     Singapore Grand Prix                       5
2019 Abu Dhabi Grand Prix                       5
     Australian Grand Prix                      5
     Austrian Grand Prix                        5
     Bahrain Grand Prix                         5
     British Grand Prix                         5
     German Grand Prix                          5
     Monaco Grand Prix                          5
     Russian Grand Prix                         5
     Singapore Grand Prix                       5
     Spanish Grand Prix                         5
2020 British Grand Prix                         5
     Portuguese Grand Prix                      5
     Russian Grand Prix                         5
     Sakhir Grand Prix                          5
2021 Azerbaijan Grand Prix                      5
     Bahrain Grand Prix                         5
     Belgian Grand Prix                         5
     Mexico City Grand Prix                     5
     Monaco Grand Prix                          5
     Qatar Grand Prix                           5
     Saudi Arabian Grand Prix                   5
     United States Grand Prix                   5

In [96]:
print(dfCompleteWeekends.shape[0], "complete weekends out of", dfSessionsNumber.shape[0])

26 complete weekends out of 81

### Dictionary of events with complete weekend data

In [126]:
completeVenuesList = list(dfCompleteWeekends.to_dict()['Number of Sessions'].keys())

In [127]:
completeVenuesList

[(2018, 'Azerbaijan Grand Prix'),
 (2018, 'Chinese Grand Prix'),
 (2018, 'Monaco Grand Prix'),
 (2018, 'Singapore Grand Prix'),
 (2019, 'Abu Dhabi Grand Prix'),
 (2019, 'Australian Grand Prix'),
 (2019, 'Austrian Grand Prix'),
 (2019, 'Bahrain Grand Prix'),
 (2019, 'British Grand Prix'),
 (2019, 'German Grand Prix'),
 (2019, 'Monaco Grand Prix'),
 (2019, 'Russian Grand Prix'),
 (2019, 'Singapore Grand Prix'),
 (2019, 'Spanish Grand Prix'),
 (2020, 'British Grand Prix'),
 (2020, 'Portuguese Grand Prix'),
 (2020, 'Russian Grand Prix'),
 (2020, 'Sakhir Grand Prix'),
 (2021, 'Azerbaijan Grand Prix'),
 (2021, 'Bahrain Grand Prix'),
 (2021, 'Belgian Grand Prix'),
 (2021, 'Mexico City Grand Prix'),
 (2021, 'Monaco Grand Prix'),
 (2021, 'Qatar Grand Prix'),
 (2021, 'Saudi Arabian Grand Prix'),
 (2021, 'United States Grand Prix')]

### df_accurate is the same as combinedDFS but it's only composed of complete weekends

In [135]:
df_accurate = combinedDFS[combinedDFS[["year","gpName"]].apply(tuple, 1).isin(completeVenuesList)]
df_accurate = df_accurate.reset_index()

In [136]:
df_accurate.shape[0]

2596

In [137]:
df_accurate[["gpName", "sessionName"]].head(25)

                gpName sessionName
0   Chinese Grand Prix  Practice 1
1   Chinese Grand Prix  Practice 1
2   Chinese Grand Prix  Practice 1
3   Chinese Grand Prix  Practice 1
4   Chinese Grand Prix  Practice 1
5   Chinese Grand Prix  Practice 1
6   Chinese Grand Prix  Practice 1
7   Chinese Grand Prix  Practice 1
8   Chinese Grand Prix  Practice 1
9   Chinese Grand Prix  Practice 1
10  Chinese Grand Prix  Practice 1
11  Chinese Grand Prix  Practice 1
12  Chinese Grand Prix  Practice 1
13  Chinese Grand Prix  Practice 1
14  Chinese Grand Prix  Practice 1
15  Chinese Grand Prix  Practice 1
16  Chinese Grand Prix  Practice 1
17  Chinese Grand Prix  Practice 1
18  Chinese Grand Prix  Practice 1
19  Chinese Grand Prix  Practice 1
20  Chinese Grand Prix  Practice 2
21  Chinese Grand Prix  Practice 2
22  Chinese Grand Prix  Practice 2
23  Chinese Grand Prix  Practice 2
24  Chinese Grand Prix  Practice 2

In [140]:
df_accurate.to_csv(r'C:\Users\lmbfr\OneDrive\Documents\Travail ESILV\Cours + Exercices\Semestre 7\Python Data Analysis\F1\completeWeekendsData.csv', index=False)